.syllabus .nav-tabs .nav-link.active, .syllabus  .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #006bb6;
    border-color: #006bb6 #006bb6 #006bb6;
}
.syllabus .nav-tabs .nav-link {
    border: 2px solid transparent;
    padding: .5rem .3rem;
}
.syllabus .nav-tabs .nav-item {
    margin-bottom: -2px;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}
.syllabus .nav-tabs {
    border-bottom: 2px solid #006bb6;
}
.syllabus .nav-tabs .nav-link:hover, .syllabus .nav-tabs .nav-link:focus {
    background-color: #006bb6;
    border-color: #006bb6;
    color: #fff;
}
.syllabus .tab-content {
    margin-top: 10px;
}
.syllabus legend {
    padding-left: 5px;
    background-color: #dee2e6;
    margin-bottom: 0;
}
.syllabus legend a {
    color: #373a3c;
}
.syllabus fieldset {
    border: 1px solid #dee2e6;
    clear: right;
}
.syllabus fieldset .fcontainer {
    margin-top: .5rem;
}
.syllabus .collapsibleregionmaq {
    height: auto !important;
}
.syllabus .collapsibleregionmaq .collapsibleregioncaption {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    padding-left: 5px;
    background-color: #dee2e6;
    margin-bottom: 0;
}
.syllabus .colexpall-syllabus {
    margin-bottom: 10px;
}
.syllabus .managedates .col-md-3 {
    width: 0px !important;
    display: none;
    max-width: 0px !important;
}
.textareadate {
    padding-left: 2px;
    padding-right: 2px;
}
.syllabus .managedates td {
    padding-left: 10px;
    padding-right: 10px;
}
.syllabus .managedates td .col-md-9.form-inline.felement {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}
.syllabus .btn.btn-default.small-button {
    font-size: 0.7rem;
    padding: .24rem .5rem;
    margin-top: 6px;
    margin-right: 5px;
}
.syllabus .btn.btn-default.small-button.is-invalid {
    border-color: #dc3545;
    border-width: 2px;
}
.syllabus .btn.btn-default.small-button.add {
    margin-bottom: 1rem;
    margin-top: 0.1rem;
}
.syllabus a.deleteline .fa-trash {
    font-size: 1.2rem;
    color: red;
}
.syllabus .btn.btn-default.small-button .fa-plus-square {
    font-size: 0.9rem;
    color: #5cb85c;
}
.syllabus .mceIframeContainer.is-invalid {
    border-color: #dc3545;
}
@media (max-width: 1500px) {
    .syllabus .textareadate textarea {
        max-width: 100px !important;
        max-height: 70px !important;
    }
    .syllabus .textareaperson textarea {
        max-width: 150px !important;
        max-height: 100px !important;
    }
}
@media (min-width: 1501px) and (max-width: 1800px) {
    .syllabus .textareadate textarea {
        max-width: 155px !important;
        max-height: 100px;
    }
    .syllabus .textareaperson textarea {
       max-width: 200px !important;
       max-height: 130px;
    }
}
.syllabus .personinputname input {
    width: 100%;
}