{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    General information template section.

    Context variables required for this template:
    * All syllabus properties, plus :
    * hasteacher - boolean
    * teacherslist - array
    * hascontact - boolean
    * contactslist - array
    * trainingtype - string
}}

<h3>{{#str}} generalinformation, mod_syllabus {{/str}}</h3>

{{! Section Information générale - Cours }}
<h4>{{#str}} course {{/str}}</h4>
<div class="syllabus_info_block greyborder">
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} title, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{title}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} creditnb, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{creditnb}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} idnumber, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{idnumber}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} facultydept, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{facultydept}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} trimester, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{trimester}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} courseyear, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{courseyear}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} trainingtype, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{trainingtypename}}</div>
    </div>
    {{#courseconduct}}
        <div class="row">
            <div class="col-12 col-md-3">{{#str}} courseconduct, mod_syllabus {{/str}}</div>
            <div class="col-12 col-md-9">{{{courseconduct}}}</div>
        </div>
    {{/courseconduct}}
    {{#weeklyworkload}}
        <div class="row">
            <div class="col-12 col-md-3">{{#str}} weeklyworkload, mod_syllabus {{/str}}</div>
            <div class="col-12 col-md-9">{{{weeklyworkload}}}</div>
        </div>
    {{/weeklyworkload}}
</div>

{{! Section Information générale - Enseignant }}
{{#hasteacher}}
    <h4>{{#str}} teacher, mod_syllabus {{/str}}</h4>
    {{#teacherslist}}
        <div class="syllabus_info_block">
            <div class="row greyborder">
                <div class="col-12 col-md-2 greybackground">
                    <div class="row">
                        <div class="col-12">{{name}}</div>
                    </div>
                </div>
                <div class="col-12 col-md-10">
                    {{#title}}
                        <div class="row">
                            <div class="col-12 col-md-3">{{#str}} teacher_title, mod_syllabus {{/str}}</div>
                            <div class="col-12 col-md-9">{{{title}}}</div>
                        </div>
                    {{/title}}
                    <div class="row">
                        <div class="col-12 col-md-3">{{#str}} teacher_contactinformation, mod_syllabus {{/str}}</div>
                        <div class="col-12 col-md-9">{{{contactinformation}}}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3">{{#str}} teacher_availability, mod_syllabus {{/str}}</div>
                        <div class="col-12 col-md-9">{{{availability}}}</div>
                    </div>
                </div>
            </div>
        </div>
    {{/teacherslist}}
{{/hasteacher}}

{{! Section Information générale - Personne-ressource }}
{{#hascontact}}
    <h4>{{#str}} contact, mod_syllabus {{/str}}</h4>
    {{#contactslist}}
       <div class="syllabus_info_block">
            <div class="row greyborder">
                <div class="col-12 col-md-2 greybackground">
                    {{#name}}
                        <div class="row">
                            <div class="col-12">{{name}}</div>
                        </div>
                    {{/name}}
                </div>
                <div class="col-12 col-md-10">
                    {{#duty}}
                        <div class="row">
                            <div class="col-12 col-md-3">{{#str}} contact_duty, mod_syllabus {{/str}}</div>
                            <div class="col-12 col-md-9">{{{duty}}}</div>
                        </div>
                    {{/duty}}
                    {{#contactinformation}}
                        <div class="row">
                            <div class="col-12 col-md-3">{{#str}} contact_contactinformation, mod_syllabus {{/str}}</div>
                            <div class="col-12 col-md-9">{{{contactinformation}}}</div>
                        </div>
                    {{/contactinformation}}
                    {{#availability}}
                        <div class="row">
                            <div class="col-12 col-md-3">{{#str}} contact_availability, mod_syllabus {{/str}}</div>
                            <div class="col-12 col-md-9">{{{availability}}}</div>
                        </div>
                    {{/availability}}
                </div>
            </div>
        </div>
    {{/contactslist}}
{{/hascontact}}

{{! Section Information générale - Description du cours }}
<h4>{{#str}} coursedesc, mod_syllabus {{/str}}</h4>
<div class="syllabus_info_block greyborder">
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} simpledescription, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{{simpledescription}}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} detaileddescription, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{{detaileddescription}}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">{{#str}} placeinprogram, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9">{{{placeinprogram}}}</div>
    </div>
</div>