{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Missing required fields template.

    Context variables required for this template:
    * hasonetab - boolean
    * hasmoreonetab - boolean
    * tabs - array
}}

<h2>Rubrique 1</h2>
<p>{{ title }}</p>
<p>{{ trimester }}</p>
<p>{{ courseyear }}</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec nunc fermentum, ornare turpis convallis, blandit felis. Vestibulum quis viverra ex. Aenean vestibulum egestas sapien non venenatis. Pellentesque lectus ante, malesuada eu diam et, tempor interdum ante. Sed condimentum ac dolor in suscipit. Ut eget iaculis dui, at volutpat dui. Vivamus laoreet ipsum sed tortor eleifend sollicitudin. Integer eu diam velit. Quisque sem purus, sodales quis magna ut, dignissim finibus est. Proin lorem nisl, volutpat at libero vel, pellentesque cursus libero.</p>

<p>Ut nisl lacus, fringilla eget sem eu, rhoncus accumsan sapien. In hac habitasse platea dictumst. In vel augue suscipit, dictum nisl non, pulvinar turpis. Integer turpis justo, mattis vel venenatis quis, rutrum ultrices diam. Sed ultricies porta mauris, a dictum turpis sodales eget. In tellus est, tristique nec diam eu, ullamcorper euismod massa. Quisque luctus velit ac mi accumsan vulputate.</p>

<p>Suspendisse potenti. Nam porttitor pulvinar diam, nec consequat sem tempor id. Nunc ut ante vel tortor fringilla faucibus venenatis sit amet nisl. Ut finibus in mi ac lobortis. Curabitur odio mi, euismod eu malesuada vel, pretium non nulla. Suspendisse potenti. Integer a luctus elit. Duis eu leo finibus justo accumsan porttitor nec eget velit. Morbi semper risus id sem dapibus, quis mattis augue pellentesque. Pellentesque mattis lorem erat. Nulla vel neque quis lorem hendrerit tempor quis non mi. Suspendisse potenti.</p>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc sit amet turpis pharetra, lobortis erat a, sollicitudin nibh. In viverra faucibus fermentum. Aenean vitae finibus orci. Duis id nunc eget massa facilisis interdum eu non mauris. Morbi condimentum ipsum pellentesque, faucibus odio et, efficitur tortor. In ut augue vel massa posuere sodales.</p>

<p>Pellentesque convallis vestibulum nibh, ut sodales augue vulputate quis. Integer vel sem id ligula dignissim posuere. Ut sed porttitor felis. Vestibulum dapibus nibh semper ante varius scelerisque. Aenean molestie tempus mi, eu iaculis elit lacinia non. Praesent blandit posuere massa, ac congue ante volutpat quis. Suspendisse volutpat in ex sed ullamcorper. Nulla dignissim arcu sed leo accumsan iaculis. Vestibulum eget sapien blandit, aliquam nisl sit amet, aliquet urna. Quisque placerat sed lectus nec vulputate. Mauris non accumsan purus. </p>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc sit amet turpis pharetra, lobortis erat a, sollicitudin nibh. In viverra faucibus fermentum. Aenean vitae finibus orci. Duis id nunc eget massa facilisis interdum eu non mauris. Morbi condimentum ipsum pellentesque, faucibus odio et, efficitur tortor. In ut augue vel massa posuere sodales.</p>

<p>Pellentesque convallis vestibulum nibh, ut sodales augue vulputate quis. Integer vel sem id ligula dignissim posuere. Ut sed porttitor felis. Vestibulum dapibus nibh semper ante varius scelerisque. Aenean molestie tempus mi, eu iaculis elit lacinia non. Praesent blandit posuere massa, ac congue ante volutpat quis. Suspendisse volutpat in ex sed ullamcorper. Nulla dignissim arcu sed leo accumsan iaculis. Vestibulum eget sapien blandit, aliquam nisl sit amet, aliquet urna. Quisque placerat sed lectus nec vulputate. Mauris non accumsan purus. </p>
