{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Learning targeted template section.

    Context variables required for this template:
    * educationalintentions
    * learningobjectives
}}

<h3>{{#str}} learningtargeted, mod_syllabus {{/str}}</h3>

<div class="syllabus_info_block greyborder">
    <div class="row">
        <div class="col-12 col-md-3" col-12 col-md-3>
            {{#is_syllabustype_competencies}}{{#str}} educationalintentions_cmp, mod_syllabus {{/str}} {{/is_syllabustype_competencies}}
            {{^is_syllabustype_competencies}}{{#str}} educationalintentions, mod_syllabus {{/str}} {{/is_syllabustype_competencies}}
        </div>
        <div class="col-12 col-md-9" col-12 col-md-9>{{{educationalintentions}}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3" col-12 col-md-3>{{#str}} learningobjectives, mod_syllabus {{/str}}</div>
        <div class="col-12 col-md-9" col-12 col-md-9>{{{learningobjectives}}}</div>
    </div>
</div>
