{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Learning targeted template section.

    Context variables required for this template:
    * educationalintentions
    * learningobjectives
}}

<h3>{{#str}} learningtargeted, mod_syllabus {{/str}}</h3>

<table class="greyborder">
    <tr>
        {{#is_syllabustype_competencies}}<th>{{#str}} educationalintentions_cmp, mod_syllabus {{/str}}</th>{{/is_syllabustype_competencies}}
        {{^is_syllabustype_competencies}}<th>{{#str}} educationalintentions, mod_syllabus {{/str}}</th>{{/is_syllabustype_competencies}}
        <td>{{{educationalintentions}}}</td>
    </tr>
    <tr class="even">
        <th>{{#str}} learningobjectives, mod_syllabus {{/str}}</th>
        <td>{{{learningobjectives}}}</td>
    </tr>
</table>
