{{=<% %>=}}
<%#haspdf%><h3 class="downloadsyllabuspdf">{{ 'plugin.mod_syllabus.downloadpdf' | translate }}</h3><core-file [file]="{fileurl: '<% pdf.fileurl %>', filename: '<% pdf.filename %>', timemodified: '<% pdf.timemodified %>', filesize: '<% pdf.filesize %>'}" component="mod_syllabus" componentId="<% cmid %>"></core-file><%/haspdf%>