{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Regulatory frameworks and institutional policies template section.

    Context variables required for this template:
    * studyregulations
    * disabilitypolicy
    * policyothers
    * integritysite
    * regulationsexplained
    * integrityothers
}}

<h3>{{#str}} regfrmwkinstitpolicies, mod_syllabus {{/str}}</h3>

{{! Section Cadres règlementaires et politiques institutionnelles - Règlements et politiques }}
<h4>{{#str}} rulespolicy, mod_syllabus {{/str}}</h4>
<table class="greyborder">
    <tr>
        <td colspan="2" class="full">{{#str}} rulespolicy_explanations, mod_syllabus {{/str}}</td>
    </tr>
    <tr class="even">
        <th><p>{{#str}} studyregulations, mod_syllabus {{/str}}</p><p class="normal">{{#str}} studyregulations_explanations, mod_syllabus {{/str}}</p></th>
        <td>{{{studyregulations}}}</td>
    </tr>
    <tr>
        <th><p>{{#str}} disabilitypolicy, mod_syllabus {{/str}}</p><p class="normal">{{#str}} disabilitypolicy_explanations, mod_syllabus {{/str}}</p></th>
        <td>{{{disabilitypolicy}}}</td>
    </tr>
    {{#policyothers}}
        <tr class="even">
            <th>{{#str}} policyothers, mod_syllabus {{/str}}</th>
            <td>{{{policyothers}}}</td>
        </tr>
    {{/policyothers}}
</table>

{{! Section Cadres règlementaires et politiques institutionnelles - Intégrité, fraude et plagiat }}
<h4>{{#str}} integrity, mod_syllabus {{/str}}</h4>
<table class="greyborder">
    <tr>
        <td colspan="2" class="full">{{#str}} integrity_explanations, mod_syllabus {{/str}}</td>
    </tr>
    <tr class="even">
        <th>{{#str}} integritysite, mod_syllabus {{/str}}</th>
        <td>
            <a href="{{integritysite}}" title="{{#str}} integritysite, mod_syllabus {{/str}}">{{integritysite}}</a>
        </td>
    </tr>
    <tr>
        <th>{{#str}} regulationsexplained, mod_syllabus {{/str}}</th>
        <td>
            <a href="{{regulationsexplained}}" title="{{#str}} regulationsexplained, mod_syllabus {{/str}}">{{regulationsexplained}}</a>
        </td>
    </tr>
    {{#integrityothers}}
        <tr class="even">
            <th>{{#str}} integrityothers, mod_syllabus {{/str}}</th>
            <td>{{{integrityothers}}}</td>
        </tr>
    {{/integrityothers}}
</table>
